@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {


    background: linear-gradient(-45deg, #ee7752, #ffc4db, #98e3ff, #adfae8, #fff1a1, #ffbc90);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;

  }

body{
    margin:0;
    padding:0;
    overflow-x:hidden;
     /* margin: 0rem; */
     /* background-image: url('room.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
     background-size: cover; */
}


.base{
    
    margin: 0rem;
     background-image: url('room.svg');
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
     background-size: cover;
/* object-fit: cover; */
}

  h2{
      font-size: 2.5rem;
      /* margin-top: -0rem; */
      font-weight: 300;
  }


  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



.header {
	/* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
	font-size: 3rem;
	font-weight:  600;
	letter-spacing: 2px;
	text-align: center;
	color: #f35626;
	background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-animation: hue 10s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
